@using HelpersM.Models

@{
    Layout = null;

    var group1 = new SelectListGroup { Name = "Hombres" };
    var group2 = new SelectListGroup { Name = "Mujeres" };

    var items = new List<SelectListItem>
    {
        new SelectListItem{Text="Javier",Value="1",Group=group1},
        new SelectListItem{Text="Luis",Value="2",Group=group1},
        new SelectListItem{Text="Maria",Value="3",Group=group2},
        new SelectListItem{Text="Pepa",Value="4",Group=group2},
    };


    //List<SelectListItem> listItems = new List<SelectListItem>();
    //listItems.Add(new SelectListItem { Text = "One", Value = "1" });
    //listItems.Add(new SelectListItem { Text = "Dos", Value = "2" });
    //listItems.Add(new SelectListItem { Text = "Tres", Value = "3" });
    //listItems.Add(new SelectListItem { Text = "Cuatro", Value = "4" });

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pruebas2</title>
</head>
<body>
    <div> 
        <label>Lista</label>
        @Html.DropDownList("MyList1",new SelectList(items,"Value","Text"),"Choose")
    </div>
</body>
</html>
