.custom-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}

.grid-item {
    background-color: lightgreen;
    border: 1px solid #333;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
