/*propiedades basicas defs cssgrid
    aling -items : aliea elementos en el eje vertical
    justify-item:alinea elementos e el eje horizontal
    aling-content:alinea toda la cuadricula en el eje vertical
    justify-content:alinea toda la cuadricula en el eje horizontal, si teng espacio de sobra y 
    le pasamos esto lo alinea en el eje corrsspondiente

*/

/*.grid-container{
    display:grid;
    grid-template-columns:1fr 1fr;*/ /*definimos3 fraccione iguales*/
    /*grid-auto-rows:1fr 1fr;*/ /*dos columnas la primera auto y la segunda 200*/
    /*gap:10px;*/ /*espaciado entre filas y columnaas*/ 
    /*width:200px;*/ /*der aqui para bajo hacen referencia al container*/
    /*height:200px; 
    background-color:#eee;
    padding:10px;
}
.grid-item{
    grid-column:1/2;*/  /*el elmeneto ocupa desde la columna 1 a 2*/
    /*grid-row:1/2;
    grid-area:header;
    background-color:#4CAF50;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
}*/
.grid-container{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px auto 100px;
    gap:10px;
}
.header{
    grid-column:1/4;/* ocupa 3 columnas 123*/
    background-color:lightblue;
}
.sidebar{
    background-color:lightcoral;
}
.content {
    background-color: lightgreen;
}
.content{
    grid-column:1/4;
    background-color:lightgray;
}
