<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
<link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-4">
        
            @RenderBody()
        
    </div> 
</body>
</html>
