@using Naviera.Models
@model List<Barco>
@{
    ViewBag.Title = "listaBarcos";
    Layout = "~/Views/Shared/ActionName.cshtml";
}

<h2>listaBarcos</h2>
<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Año</th>
            <th>Coste</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var barco in Model)
        {
            <tr>
                <td>@barco.NombreBarco</td>
                <td>@barco.AñoConstruccion</td>
                <td>@barco.CosteConstruccion</td>
                <td>@Html.ActionLink("Ver detalles", "DetallesBarco", "Tripulante" ,new { id = barco.BarcoId })</td>
            </tr>
        }
    </tbody>
</table>


