<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    <div style="background-color:ButtonFace">
        @RenderBody()
    </div>
</body>
</html>
