
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Naviera de Lugo</h2>
@Html.ActionLink("Gestión de Barcos", "Index", "Barco")
@Html.ActionLink("Gestión de Tripulación", "Inicio", "Tripulante")


