@model ResortClase.Models.Alumno
@{
    ViewBag.Title = "MayorEdad";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>@ViewBag.Titulo</h2>
<p>Alumno con mas Edad: <strong>@Model.Nombre</strong>. Edad: <strong>@Model.Edad</strong></p>

