@using ResortApp.Models
@model Product
@{
    ViewBag.Title = "NameAndPrice";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>NameAndPrice</h2>
The product name is @Model.Name and it cots @Model.Price 
