@using DisfracesPractica.Models
@model DisfracesViewModel
@{
    ViewBag.Title = "GetAsistentes";
}

<h2>GetAsistentes</h2>
<div class="row mt-5">
    <div class="col-md-6 offset-md-3">
        <h2>Get Asistentes</h2>
        <table class="table table-striped" id="asistentesTable">

        </table>
    </div>
</div>
